body {
	background:lightblue;
}
.square{
	color:blue;
	width: 100px;
	height: 100px;
	background: red;
	text-align:center;
	line-height: 100px;
}
.big{
	color:white;
	width: 200px;
	height: 200px;
	background: navy;
	text-align:center;
	line-height: 200px;
}
.listF{background:lightyellow;}